li.dev-item {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 35px;
}

li.dev-item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item p {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0px;
}

li.dev-item a {
    color: #8e4dff;
    font-size: 14px;
    text-decoration: none;
}

li.dev-item header img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.dev-item header .user-info {
    margin-left: 10px;
}

.user-info strong {
    display: block;
    font-size: 16px;
    color: #333;
}

.user-info span {
    font-size: 13px;
    color: #999;
    margin-top: 2px;
}

.dev-controll {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 35px;
}

.dev-controll button {
    height: 30px;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.dev-controll #update-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(251, 251, 150);
    height: 30px;
    border: 0;
    border-radius: 3px;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}

.dev-controll #remove-dev {
    background-color: tomato;
    color: #fff
}